* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url("../img/college.jpg") center center;
}

.header{
    height: 150px;
}

.rg_layout {
    width: 950px;
    height: 400px;
    border: 8px solid gold;
    background :rgba(255,255,255,0.95);
    box-shadow: 0 4px 20px 0 #ddd;
    margin: auto;
    position:relative

}

.rg_left {
    margin-top:20px;
    text-align:center
}

.rg_left > p:first-child {
    color: red;
    font-size: 20px;
}

.rg_left > p:last-child {
    color: #A6A6A6;
    font-size: 20px;

}

.rg_center {
    margin-left:200px;
    margin-top: 40px;
}

.rg_right {
    position:absolute;
    left: 760px;
    top: 360px;
}

.rg_right > p:first-child {
    font-size: 15px;

}

.rg_right p a {
    color: blue;
}

.td_left {
    width: 144px;
    text-align: right;
    height: 45px;
}

.td_right {
    padding-left: 30px;
}

#username, #password, #email, #tel, #checkCode ,.college,.subject{
    width: 200px;
    height: 32px;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding-left: 10px;
}

#checkCode {
    width: 250px;
}

#img_check {
    height: 32px;
    vertical-align: middle;
    margin-left: 10px;
}

#btn_sub {
    width: 150px;
    height: 40px;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    background: #73d66e;
    border: 1px solid #96d293;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom:15px;
}

#td_sub{
    padding-left: 195px;
}

.error{
    color:red;
    vertical-align: middle;
}

input[type="radio"],input[type="checkbox"]{
    margin-left: 10px;
}

.view{
    margin-left: 10px;
}

.header{
    margin: auto auto;
    color: red;
}
#verificationCode{
    padding-top: 10px;
}

.yan{
    position: absolute;
    left: 610px;
    top:196px;
}
.yan2{
    position: absolute;
    left: 735px;
    top: 226px;
}